:root {
  --primaryColor: #ff6b6b;
  --secondaryColor: #2b6d59;
  --defaultColor: #484848;
  --white: #fff;

  --boxShadow: 0 2px 2px rgba(0, 0, 0, 0.1);

  @custom-media --phone-viewport (max-width: 470px);
  @custom-media --small-viewport (max-width: 724px);
  @custom-media --medium-viewport (max-width: 1024px);
}
